@import '../../styles/tokens.css';

:root {
  --igds-tooltip-trigger-gap: var(--igds-space-8);
}

.igds-tooltip {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--igds-tooltip-padding-y) var(--igds-tooltip-padding-x);
  border-radius: var(--igds-tooltip-border-radius);
  border: none;
  --igds-tooltip-border-width: 0px;
  --igds-tooltip-beak-offset: 0px;
  background-color: var(--igds-tooltip-background);
  color: var(--igds-tooltip-text-color);
  gap: var(--igds-tooltip-content-gap);
  text-align: center;
  font-family: var(--igds-tooltip-title-font-family);
}

.igds-tooltip__title,
.igds-tooltip__body {
  margin: 0;
  width: 100%;
  color: var(--igds-tooltip-text-color);
}

.igds-tooltip--placement-top,
.igds-tooltip--placement-bottom {
  min-width: 80px;
  max-width: 500px;
}

.igds-tooltip__title {
  font-size: var(--igds-tooltip-title-font-size);
  font-weight: var(--igds-tooltip-title-font-weight);
  line-height: var(--igds-tooltip-title-line-height);
}

.igds-tooltip__body {
  font-family: var(--igds-tooltip-body-font-family);
  font-size: var(--igds-tooltip-body-font-size);
  font-weight: var(--igds-tooltip-body-font-weight);
  line-height: var(--igds-tooltip-body-line-height);
}

.igds-tooltip__arrow {
  position: absolute;
  width: var(--igds-tooltip-beak-size);
  height: var(--igds-tooltip-beak-size);
  pointer-events: none;
}

.igds-tooltip__arrow::before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  border-radius: var(--igds-tooltip-beak-border-radius);
  inset: 0;
  background: var(--igds-tooltip-background);
}

.igds-tooltip__trigger {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.igds-tooltip__trigger .igds-tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  transition:
    opacity 150ms ease,
    transform 150ms ease;
}

.igds-tooltip__trigger .igds-tooltip--visible {
  opacity: 1;
  visibility: visible;
}

.igds-tooltip--placement-top .igds-tooltip__arrow {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(50% + var(--igds-tooltip-beak-offset)));
}

.igds-tooltip__trigger .igds-tooltip--placement-top {
  bottom: calc(100% + var(--igds-tooltip-trigger-gap));
  left: 50%;
  transform: translate(-50%, 4px);
}

.igds-tooltip__trigger .igds-tooltip--placement-top.igds-tooltip--visible {
  transform: translate(-50%, 0);
}

.igds-tooltip--placement-bottom .igds-tooltip__arrow {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-50% - var(--igds-tooltip-beak-offset)));
}

.igds-tooltip__trigger .igds-tooltip--placement-bottom {
  top: calc(100% + var(--igds-tooltip-trigger-gap));
  left: 50%;
  transform: translate(-50%, -4px);
}

.igds-tooltip__trigger .igds-tooltip--placement-bottom.igds-tooltip--visible {
  transform: translate(-50%, 0);
}

.igds-tooltip--placement-left .igds-tooltip__arrow {
  right: 0;
  top: 50%;
  transform: translate(calc(50% + var(--igds-tooltip-beak-offset)), -50%);
}

.igds-tooltip__trigger .igds-tooltip--placement-left {
  right: calc(100% + var(--igds-tooltip-trigger-gap));
  top: 50%;
  transform: translate(4px, -50%);
}

.igds-tooltip__trigger .igds-tooltip--placement-left.igds-tooltip--visible {
  transform: translate(0, -50%);
}

.igds-tooltip--placement-right .igds-tooltip__arrow {
  left: 0;
  top: 50%;
  transform: translate(calc(-50% - var(--igds-tooltip-beak-offset)), -50%);
}

.igds-tooltip__trigger .igds-tooltip--placement-right {
  left: calc(100% + var(--igds-tooltip-trigger-gap));
  top: 50%;
  transform: translate(-4px, -50%);
}

.igds-tooltip__trigger .igds-tooltip--placement-right.igds-tooltip--visible {
  transform: translate(0, -50%);
}
