:root {
  font-family: var(--igds-font-family-sans);
  line-height: 1.5;
  font-weight: var(--igds-font-weight-regular);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: var(--igds-font-weight-medium);
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
}
button:focus-visible {
  outline: 2px solid var(--igds-color-border-focus);
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    margin: 0 auto
  }
  a:hover {
    color: #747bff;
  }
}
